*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body{
    height: 100vh;
    background-color: black;
    color: white;
}

#first{
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-wrap: wrap;
    gap: 30px;
}

h1{
    font: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

h2{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.user{
    width: 200px;
    text-align: center;  
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px; 
    transition: transform 0.2s ease-in;
}

.user:hover{
    transform : scale(1.05);
}

img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

a{
    text-decoration: none;
    color: orange;
    margin-bottom: 10px;
}