*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    display: grid;
    background-color: orange;
    height: 200px;
    width: 800px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    gap: 10px;
}

img{
    height: 100%;
    width: 100%;
}

@media screen and (max-width:900px) {
    .container{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    height: 400px;
    width: 1200px;
    }
}

@media screen and (max-width:600px) {
    .container{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,1fr);
    height: 600px;
    width: 1600px;
    }
}