*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-color: black;
    display:flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: rgb(255, 172, 18);
    box-shadow: 0px 0px 10px 10px red;
}
