*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: white;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container{
    height: 300px;
    width: 300px;
    background-color: aqua;
    overflow: scroll;
}