*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-color: rgb(94, 93, 93);
}

.container{
    display:grid;
    text-align: center;
    height: 800px;
    width: 800px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    gap: 25px;
    padding: 5px;
}

.box{
    background-color: rgb(120, 120, 216);
    border-style: solid;
    border-color: black;
    border-width: 10px;
}

.header{
    grid-column-start: 1;
    grid-column-end: 4;
}

.sidebar{
    grid-row-start: 2;
    grid-row-end: 4;
}

.content1{
    grid-column-start: 2;
    grid-column-end: 4;
}

.content2{
    grid-column-start: 2;
    grid-column-end: 3;
}

.content3{
    grid-column-start: 3;
    grid-column-end: 4;
}

.footer{
    grid-column-start: 1;
    grid-column-end: 4;
}