*{
    padding:0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    
    /* height:600px; */
    width:400px;
    background-color: aqua;
    padding: 60px;
    border-radius: 20px;

}

h1{
    background-color:bisque ;
    border-radius: 40px;
    text-align: center;
    margin-bottom: 20px;
    color:rgb(122, 122, 204);
}

label{
    display:block;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 5px;
}
input{
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding:5px;
}

.login{

    background-color: rgb(253, 68, 68);
    width: 100%;
    height:30px;
    font-weight: 1000;
    cursor: pointer;

}
