#container{
    background-color: yellow;
    height: 200px;
    width: 300px;
    position: relative;
}

.box{
    box-sizing: border-box;
    background-color: rgb(68, 68, 199);
}

.first , .third {
    height:85px;
    width:100px
}

.third{
    position:absolute;
    bottom: 0px;
}

.second , .fourth{
    height:85px;
    width:150px;
    position:absolute;
}

.second{
    top: 0px;
    right: 0px;
}

.fourth{
    bottom:0px;
    right:0px;
}