body{
    background-color: black;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container{
    height: 200px;
    width: 200px;
    background-color: orange;
    box-shadow:10px 10px 10px 1px blue;

    /* box-shadow: <x-ofset> <y-ofset> <blur-radius> <spread-radius>; */

    /* box-shadow: inset 10px 10px blue; */
}