*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container{
    background-color: #0a0a0a;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 10px;
    perspective: 800px;
}

.box{
    height: 150px;
    width: 150px;
    background-color: orange;
    border-radius: 20px;
    cursor: pointer;

                /* Transform */

    /* transform: translate(200px,300px); */
    /* transform: rotate(40deg); */
    /* transform: skewX(30deg); */
    /* transform: skewY(-40deg); */



     
    transition-property: all;
    transition-duration:4s  ; 
/*
    transition-property: background-color;
    transition-property: height;
    transition-property: width; 
    transition-timing-function: ease-in;
    transition-delay: 1s; 
    */
    
    animation-name: moving;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}

.box:hover{
/* 
    background-color: rgb(236, 212, 169);
    height: 155px;
    width: 155px;
    box-shadow: orangered 0px 0px 20px;
    transform: scale(2);
    transform: translate(100px , 200px);
 */

    transform: translateZ(200px);
    transform: rotateX(50deg);

}

@keyframes moving{

    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }

}